
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h1>Kysymyspankki - puutteita toiminnassa</h1>
        
        <form method="POST" action="/kysymykset">
        <span>Kurssi:</span><br/>
        <input type="text" name="Kurssi"/><br/>
        <input type="submit" value="Lisää kurssi"/>
  
        
        <form method="POST" action="/kysymykset">
        <span>Aihe:</span><br/>
        <input type="text" name="Aihe"/><br/>
        <input type="submit" value="Lisää aihe"/>

        
        <form method="POST" action="/kysymykset">
        <span>Kysymysteksti:</span><br/>
        <input type="text" name="Kysymysteksti"/><br/>
        <input type="submit" value="Lisää kysymysteksti"/>
     
            
        
        <p th:text="${lista}">
            :D
            
        </p>
        
        
        <ul>
            <li th:each="arvo : ${lista}">
                <span th:text="${arvo}">
                    :DD
                </span>
            </li>
        </ul>
        
        <form action="/" method="POST">
            <input type="text" name="Kysymys"/>
            <input type="submit"/>
        </form>
        
    

    </body>
</html>